<main class="holder">            
            <div class ="columna left">
                <h2>Contacto</h2>
                <form action="/contacto" method="post" class="formulario">
                    <p>
                        <label for="">Nombre</label>
                        <input type="text" name="nombre">
                    </p>
                    <p>
                        <label for="">Numero de Celular</label>
                        <input type="text" name="tel">
                    </p>
                    <p>
                        <label for="">Email</label>
                        <input type="text" name="email">
                    </p>
                    <p>
                        <label for="">Consulta:</label>
                        <textarea name="consulta" ></textarea>
                    </p>
                    <p class="activo">
                        <input type="submit" value="Enviar">
                    </p>
                </form>
                <p>{{message}}</p>
            </div>
            <div class="columna right">
                <h2>Preguntas Frecuentes</h2>
                
                    <div class="FAQ">
                        <details>
                            <summary>Medios de pago</summary>
                            <p>Efectivo - Tarjetas de Credito y Debito - Mercado Pago - Transferencia Bancaria </p>
                        </details> 
                        <details>
                            <summary>Métodos de Entrega</summary>
                            <p>Envio gratis a CABA y alrededores. Resto del pais consultar.</p>
                        </details> 
                        <details>
                            <summary>Preparacion Terreno</summary>
                            <ul>
                                <li>
                                    Aseguráte que el suelo tenga una capa de no menos de 5 cm de profundidad de tierra negra. Si precisas ayuda con el cálculo, consultános! 
                                </li>
                                <li>
                                    Limpia el área. Rastrilllá el terreno y quita piedras, escombros, raíces y demás elementos que pueda haber
                                </li>
                                <li>
                                    Nivela el terreno. Dale un pequeño declive para asegurar el drenaje. Verifica que no queden depresiones donde pueda estancarse el agua
                                </li>
                                <li>
                                    Regá ligeramente la superficie de modo que el suelo esté húmedo pero no barroso. 
                                </li>
                            </ul>
                        </details>
                        <details>
                            <summary>Colocacion</summary>
                            <p>El césped es un producto perecedero. No demores su colocación. Lo recomendable es que sea dentro de las 24  a 48 hs máximo. Mantené las pilas del mismo a la sombra sin regarlo</p>
                            <ul>
                                <li>
                                    Comenzá colocando  los panes de grama uno al lado del otro, sin dejar juntas (no se coloca tierra en las juntas). 
                                </li>
                                <li>
                                    Presiona los panes ligeramente con las manos contra el suelo
                                </li>
                                <li>
                                    En los lugares donde se precisa realizar recortes, utilizar un cuchillo tipo serrucho tramontina. 
                                </li>
                                <li>
                                    Una vez finalizada la colocación controlar que no queden pequeños faltantes y en ese caso proceder a completar.
                                </li>
                                <li>
                                    Esparcí un fertilizante específico en perlitas sobre toda la superficie (fertilizante arrancador). El mismo se aplica al voleo y luego se riega para su disolución
                                </li>
                            </ul>
                        </details>
                        <details>
                            <summary>Riego</summary>
                            <p>El césped es un producto perecedero. No demores su colocación. Lo recomendable es que sea dentro de las 24  a 48 hs máximo. Mantené las pilas del mismo a la sombra sin regarlo</p>
                            <ul>
                                <li>
                                    Tras la colocación, realiza un riego inicial lento y profundo (sin llegar al encharcamiento). El mismo es fundamental para evitar la deshidratación. 
                                </li>
                                <li>
                                    Luego, continuá con riegos diarios para mantener la humedad hasta que las alfombras estén firmemente enraizadas (aproximadamente 7 días) pasado este período regá normalmente. Si es necesario de acuerdo al clima reinante realizar 2 riegos durante el día                                </li>
                                <li>

                                    A partir de los 15 días debería ser suficiente con un riego diario.
                                </li>
                                
                            </ul>
                        </details>
                        <details>
                            <summary>Corte</summary>                           
                            <ul>
                                <li>
                                    Realiza el primer corte a los 7 días. Corte alto y con máquina bien afilada (Altura mínima 2.5cm / Altura máxima 5 cm)
                                </li>
                                <li>
                                    La bordeadora se debe utilizar solo para los recortes perimetrales ya que si se usa en todo el terreno arranca la grama destruyéndola. También en pequeños espacios se puede realizar con tijera manual cuidando la altura correcta.                            
                                </li>
                                <li>
                                    Durante el invierno la altura de corte se debe elevar 1cm .Esto ayuda a mantener sano el césped en esta época adversa para las plantas
                                </li>
                                <li>
                                    En áreas sombreadas aumentá un 30% la altura de corte con respecto al resto del jardín
                                </li>
                                <li>
                                    Si vas a cambiar la altura de corte, hacélo gradualmente
                                </li>
                                <li>
                                    Recogé siempre los restos del corte
                                </li>
                                
                            </ul>
                        </details>
                        <details>
                            <summary>Mantenimiento y Cuidado</summary>
                            <ul>
                                <li>
                                    Coloca un fertilizante de liberación lenta para césped (Fertilizante mantenimiento) para mantener el césped sano y tupido al menos 2 veces por año en el comienzo de otoño y primavera. La aplicación es a razón de 500 g cada 20 m2.
                                </li>
                                <li>
                                    Tu césped se podrá utilizar normalmente 2 o 3 semanas después de la instalación. Procura pisarlo lo menos posible durante ese periodo
                                </li>
                                <li>
                                    Cuida al césped de tus mascotas y productos corrosivos. Toda deposición u orina de perros y/o gatos quema el césped dejando aureolas amarillas circulares características al igual que el vertido de cualquier químico de limpieza como lavandina, desodorantes de piso etc.
                                </li>
                                <li>
                                    En general la grama es un césped muy fuerte y cuando sufre un deterioro por mal cuidado ni bien esto se revierte vuelve a cubrir en un tiempo el lugar afectado 
                                </li>
                            </ul>
                        </details>

                    </div>
                
            </div>
        
    </main>