<main class="holder">
            <section class="homeimg">
                    <img src="images/home.jpg" alt="home" width="960px"   >
            </section>
            <section class="columnas">
                <div class="bienvenidos">
                    <h2>Bienvenidos</h2>
                    <p>Cesped Corobu es una empresa familiar dedicada a brindar servicios de cosecha e instalación de cesped.</p>
                </div>
                <div class="testimonios">
                    <h2>Testimonios</h2>
                    <div class="testimonio">
                        <span class="cita">El mejor cesped de Buenos Aires.</span>
                    <span class="autor">Juan Senteno - 2020</span>
                    </div>
                </div>
            </section>
    </main>