<main class="holder">
            <section class="historia">
                <h2>Historia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur error quasi magni voluptate quas dolorum nihil tempore nam nesciunt labore, est fugit accusamus sed eaque deserunt, quae sunt quaerat voluptatem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ex praesentium quod! Nulla sint blanditiis non, repellat ut natus molestias quia expedita tempore! Quaerat vel facilis vero tenetur amet atque!</p>
            </section>
            <section class="staff">
                <h2>Staff</h2>
                <div class="personas">
                    <div class="persona">
                        <img src="images/Juan.jpeg" alt="Juan Senteno" width="200px">
                        <h5>Juan Rodriguez</h5>
                        <h6>Director y Fundador</h6>                       
                    </div>
                    <div class="persona">
                        <img src="images/Agustin.jpeg" alt="Agus" width="200px">
                        <h5>Agustin Aguero</h5>
                        <h6>Gerente de Logistica</h6>                       
                    </div>
                    <div class="persona">
                        <img src="images/Joaco.jpeg" alt="Joaco" width="200px">
                        <h5>Joaquin Martinez</h5>
                        <h6>Encargado de Sembrado y Cosecha</h6>                       
                    </div> 
                </div>
            </section>
    </main>