<main class="holder">
            <h2>Novedades</h2>
            <div class="novedad">
                <h3>Titulo</h3>
                <h4>Subtitulo</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolores sit quibusdam laboriosam sequi veritatis similique aliquid sapiente minima vero consectetur saepe odit, odio illum ab expedita numquam esse! Cumque?</p>
                <hr/>
            </div>
            <div class="novedad">
                <h3>Titulo</h3>
                <h4>Subtitulo</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima dolore enim veritatis maxime quas, sit fugit dicta, ratione excepturi possimus veniam quaerat aut, laboriosam officia ex quo ad sequi perspiciatis.</p>
            </div>
            <hr/>
    </main>